@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: bold;">Welcome To The EventEase Booking System</h1>
    <p>Booking Made Easy, Events Made Memorable</p>
    <img src="https://caratsandcake.com/_images/pages/wedding-venue-the-hunt.JPG" style="max-width: 80%; height: auto;" />
</div>
